


html{
   width: 100%;
   background-color: black;
   background-image: url(https://bluef00t.neocities.org/imgs/optica_black.png);
}

body {
  color: #EFEFEF;
  background-color: #242424;
  font-family: "Lucida Sans Unicode", "Trebuchet MS", Sans-Serif;
  text-align: center;
  margin-left: 140px;
  margin-right: 40px;
  margin-bottom: 50px;
  max-width: 1600px;
  min-width: 500px;
  border:12px solid transparent;
  border-image: url(https://bluef00t.neocities.org/imgs/border.png) 14 round;
  overflow-x: hidden;
}
topbar{display:none;}
@media (max-width: 900px), (max-aspect-ratio: 3/4) {
  body{
    margin-left:20px;
    margin-right:20px;
  }
  sidebar{display:none;}
  topbar{
    display:block;
    margin:auto;
    font-size: 200%
  }
}

p {padding: 0px 4px 0px;}

a:link{
  color: Aquamarine
}

a:visited{
  color: Aqua
}

nav {
  font-family: "Lucida Sans Unicode";
  text-align:center;
}

nav sidebar{
  background-color:red;
  z-index:1;
  padding:0;
  margin:0;
  top:10px;
  left:5px;
  width:120px;
  position:fixed;
}

nav sidebar{
  width:120px;
}

nav topbar{
  width: 90%; padding: 10px;
}

nav a:link{
  color:red;
  text-decoration: none;
}

nav a:visited{
  color:red;
  text-decoration: none;
}

nav a:hover{
  color:white;
  text-decoration: none;
}

nav p{
  background-color:black;
  border: 1px white;
  border-radius: 3px;
  width:90%;
  margin:4%;
  padding:0;
}

  .text p{
      text-align: left;
      padding-left: 15px;
      color: #CDCDCD;
  }

table {
  table-layout:fixed;
  text-align: center;
  background-color: #0F0F0F;
  border: 5px solid red;
  border-spacing:2px;
  margin: auto;
  width: 90%
}


th{
  text-align: center;
  border: 1px solid red;
  border-spacing:2px;
}

td{
  text-align: left;
  border: 1px solid red;
  border-spacing:2px;
}

UL{
  text-align:left;
}

dd {
    display: list-item;
    list-style-type: disc;
    }


.panel {
  overflow: hidden;
  display: none;
}

.divider{
  width: 60%;
  border: 4px solid aqua;
}

footer {
  position: fixed;
  background: black;
  font-size: 12px;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}

/* css accordion modified from https://codepen.io/beben-koben/pen/bNwRXe */

.accordion p {
  opacity: 0;
  display: none;
}
.accordion UL {
  opacity: 0;
  display: none;
}
.accordion div {
  opacity: 0;
  display: none;
}
#t1:checked ~ .hiddentext {
  display: block;
  opacity: 1;
}
input#t1 {
  display: none;
  position: relative;
}
#t2:checked ~ .hiddentext {
  display: block;
  opacity: 1;
}
input#t2 {
  display: none;
  position: relative;
}
#t3:checked ~ .hiddentext {
  display: block;
  opacity: 1;
}
input#t3 {
  display: none;
  position: relative;
}