	:root{
		--diamond-size: 30px;
		}
	html{
       background-image: url('https://cdn.shopify.com/s/files/1/0337/2993/7548/collections/FullHD_19WBJL00083A_Plastic_Man_Logo_141_1024x.jpg');
       background-size: 100px;
    }
    body {
      max-width: 700px;
      background-color: darkRed;
      margin-left: auto;
      margin-right: auto;
      padding: 14px;
      border: 20px solid black;
      border-image-source:  url('https://cdn.discordapp.com/attachments/275371719055769601/1079979011930853386/border.png');
      border-image-slice: 42;
      color: white;
    }
    a {
      color: yellow;
    }
    hr {
      border-top: 2px solid black;
      background-color: yellow;
      height: 1px;
      border-bottom: 2px solid black;
    }
	.diamond-shape {
		  background: yellow;
		  border: 4px solid black;
		  height: var(--diamond-size);
		  text-align: center;
		  transform:rotate(45deg);
			width:var(--diamond-size);
			cursor:pointer;
			margin-right: 10px;
		}