:root {

}
html{
  background-color: black;
}
body{
  margin:40px auto;
  max-width:750px;
  line-height:1.6;
  font-size:18px;
  font-family: sans-serif;
  background-color:rgb(36, 36, 36);
  color: #DDD;
  padding:10px 30px;
  font-size: 1em;
}
h1,h2{
  line-height:1.2;
  text-transform: uppercase;
  letter-spacing: 0.005em;
  font-family: "DejaVu Serif",serif;
}
h1{
  background-color: rgb(46, 46, 46);
  padding: 5px;
}
img{
  max-width: 100%;
  margin: auto;
}

@media (max-width: 650px), (max-aspect-ratio: 3/4){
  body{
    padding:0 10px;
    max-width:100%;
  }
}

/*icon for external links*/
a[href^="https://"]:after {
    content: "➚";
    color: rgb(255, 178, 0);;
    position: absolute;
    margin-left: 0.20em;
    margin-top: 0;
    font-size: 90%;
    text-decoration: none;
}
a[href^="https://bluef00t.neocities.org"]:after  {
    display: none;
}

a{
  color: rgb(217, 131, 20);;
}

a:hover, a:active, a:visited{
  color: rgb(255, 178, 0);
}

/*frontpage stuff*/
.frontpage-gallery img{
  width: 24%;
}